# YouTube Trending Videos Statistical Analysis

## INTRODUCTION

#### to be edited</b>
<b>https://www.kaggle.com/rsrishav/youtube-trending-video-dataset

In [1]:
# Importing libraries
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy import stats
from scipy.stats import norm
from scipy.stats import t
from scipy.stats import ttest_1samp

%matplotlib inline

In [2]:
'''
Later on we can also remove the ones we wouldn't use
'''
# Importing dataset
data_gb = pd.read_csv("../data/GB_youtube_trending_data.csv",sep=",")  #uk  
data_fr = pd.read_csv("../data/FR_youtube_trending_data.csv",sep=",")  #france
data_us = pd.read_csv("../data/US_youtube_trending_data.csv",sep=",")  #usa 
data_ru = pd.read_csv("../data/RU_youtube_trending_data.csv",sep=",")  #russia
data_de = pd.read_csv("../data/DE_youtube_trending_data.csv",sep=",")  #germany 
data_ca = pd.read_csv("../data/CA_youtube_trending_data.csv",sep=",")  #canada   
data_kr = pd.read_csv("../data/KR_youtube_trending_data.csv",sep=",")  #southkorea   
data_jp = pd.read_csv("../data/JP_youtube_trending_data.csv",sep=",")  #japan
data_br = pd.read_csv("../data/BR_youtube_trending_data.csv",sep=",")  #brazil
data_mx = pd.read_csv("../data/MX_youtube_trending_data.csv",sep=",")  #mexico

In [3]:
'''
This can stay for now to easily see what are our properties in the dataset. We can delete it once
we are familiar with the dataset
'''
brief_list_col = []
brief_list = []

for i in range(0,len(data_gb.columns)):
    brief_list_col.append(data_gb.columns[i])
    brief_list.append(data_gb[data_gb.columns[i]][0])

brief_df = pd.DataFrame(brief_list_col,columns=["Property"])
brief_df.insert(1,"Output",brief_list,True)
brief_df

             Property                                             Output
0            video_id                                        J78aPJ3VyNs
1               title  I left youtube for a month and THIS is what ha...
2         publishedAt                               2020-08-11T16:34:06Z
3           channelId                           UCYzPXprvl5Y-Sf0g4vX-m6g
4        channelTitle                                      jacksepticeye
5          categoryId                                                 24
6       trending_date                               2020-08-12T00:00:00Z
7                tags  jacksepticeye|funny|funny meme|memes|jacksepti...
8          view_count                                            2038853
9               likes                                             353790
10           dislikes                                               2628
11      comment_count                                              40228
12     thumbnail_link     https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg
13  comments_disabled                                              False
14   ratings_disabled                                              False
15        description  I left youtube for a month and this is what ha...

                                       **INDIVIDUAL PARTS**

In [4]:
# Adding json file
gb_json = pd.read_json('../data/GB_category_id.json')

In [5]:
# Flattening json file to get rid of dict format
col_list = ["items","items_snippet"]

def flat_func(df,column):
    for column in col_list:
        flatten = pd.DataFrame(dict(df[column])).transpose()
        columns = [str(i) for i in flatten.columns]
        flatten.columns = [column + "_" + str(colname) for colname in columns]
        df = pd.concat([df,flatten],axis=1)
        df = df.drop(column,axis=1)
    return df

gb_flat = flat_func(gb_json,col_list)[["items_id","items_snippet_title"]]

In [6]:
gb_flat

   items_id   items_snippet_title
0         1      Film & Animation
1         2      Autos & Vehicles
2        10                 Music
3        15        Pets & Animals
4        17                Sports
5        18          Short Movies
6        19       Travel & Events
7        20                Gaming
8        21         Videoblogging
9        22        People & Blogs
10       23                Comedy
11       24         Entertainment
12       25       News & Politics
13       26         Howto & Style
14       27             Education
15       28  Science & Technology
16       30                Movies
17       31       Anime/Animation
18       32      Action/Adventure
19       33              Classics
20       34                Comedy
21       35           Documentary
22       36                 Drama
23       37                Family
24       38               Foreign
25       39                Horror
26       40        Sci-Fi/Fantasy
27       41              Thriller
28       42                Shorts
29       43                 Shows
30       44              Trailers

In [15]:
# Adding trends next to categoryId's, could be useful for further analysis
'''
categoryId 29 is missing in JSON file so I am going to remove rows with categoryId 29 in order to run 
below code. There are only 3 rows available with categoryId 29, so shouldn't be a problem at all.
'''
drop_idx = data_gb[data_gb.categoryId == 29].index
data_gb = data_gb.drop(drop_idx)

trend = []
for i in data_gb["categoryId"]:
    for j in range(0,len(gb_flat)):
        if i == int(gb_flat["items_id"][j]):
            trend.append(gb_flat["items_snippet_title"][j])

data_gb.insert(6,"trend",trend)

Possible hypothesis;

more popular the video more like/less dislike,
tbc